# Ignore the data sources
data/copernicus/u2018_clc2018_v2020_20u1_fgdb
data/copernicus/clc2018_germany_wetlands.*
data/faostat/FAOSTAT_drained_soils_emissions_eu27.csv
data/eurostat/NUTS_RG_01M_2021_4326_LEVL_3.json
data/eea/ghg-emissions-by-sector_eu27.csv

# Ignore the literature files
literature/hendricks2020-carbon-pools-and-sequestration.pdf
literature/ETC-ULS-Report-10-2021-carbon-pools-and-sequestration-potential.pdf
